<mat-nav-list>
    <div class="profile-card">
        <img src="../../../../assets/images/avatar.png" alt="">
        <div class="header">
            <h3>Mwita Joseph</h3>
            <h5>mwita@gmail.com</h5>
        </div>
    </div>

    <mat-divider></mat-divider>
    <h2 matSubheader>pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/details">My Details</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="//profile">View Profile</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/job_listing">Job Listing</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/my_applications">My Applications</a>

</mat-nav-list>
