.mat-form-field {
    margin-top: 16px;
}

app-academics {
    left: 150px;
}

app-documents {
    left: 150px;
}


/*
mat-stepper{
  font-size: 10px;
} */


/* personal information css */

mat-form-field {
    margin: 0 5px 0;
    padding: 5px;
    width: 30%;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 18px;
}

mat-form-field {
    margin-right: 12px;
    font-size: 10px;
}

h2 {
    font-size: 15px;
}

mat-radio-group {
    font-size: 10px;
}

mat-radio-button {
    font-size: 10px;
}

table {
    width: 100%;
}


/* .mat-form-field {
    font-size: 14px;
    width: 100%;
 }  */

td,
th {
    width: 25%;
}

.minusExperience {
    margin-left: 1060px;
}

.minusEducation {
    margin-left: 1020px;
}
